/* Common CSS */
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: #000;
}

/* Header Css */
header{
    padding: 15px;
}