/* Common CSS */
.container{
    max-width: 1140px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: #000;
}

/* Header Css */
header{
    padding: 15px;
}

.header_left{
    flex: 0 0 17%;
}
.header_center{
    flex: 0 0 66%;
}
.header_right{
    flex: 0 0 17%;
}
